:root{
    --primary-background:#00215B;
    --primary-alternate:#ec6316;
    --primary-text:#000000;

    --secondary-background:#425563;
    --secondary-alternate:#ffffff;
    --secondary-text:#ffffff;

    --tertiary-text:#bbbbbb;
}